<template lang="pug">
  v-container
    v-row
      v-col(cols="12" lg="8")
        v-card
          v-card-text
            v-row(justify="space-between")
              v-col(cols="12" lg="4")
                v-switch(
                  label="Active"
                  v-model="locProduct.active"
                )

              v-col(cols="12" lg="4")
                v-select(
                  label="Category"
                  :items="categories"
                  :item-text="(value) => getByLocale(value.translations, 'title')"
                  item-value="_id"
                  v-model="locProduct.category"
                )

            v-tabs(grow)
              v-tab(
                v-for="(translation, i) in locProduct.translations"
                :key="i"
              ) {{ translation.locale }}

              v-tab-item(
                v-for="(translation, i) in locProduct.translations"
                :key="i"
              ).pt-3
                v-text-field(
                  label="Title"
                  v-model="translation.title"
                )

                v-text-field(
                  v-if="isUpdate"
                  label="Slug"
                  v-model="translation.slug"
                  readonly
                )

                v-textarea(
                  label="Description"
                  v-model="translation.description"
                )

                v-text-field(
                  label="Pricing"
                  v-model="locProduct.pricing"
                )

          v-card-actions
            v-btn(text block @click="update") {{ isUpdate ? 'Update' : 'Save' }}

      v-col(cols="12" lg="4")
        v-card
          v-responsive(:aspect-ratio="16/9")
            v-img(
              v-if="locProduct.imageUrl.length > 0"
              :src="locProduct.imageUrl"
              :aspect-ratio="16/9"
            )
              v-btn(icon absolute top right @click="removeImage()")
                v-icon(color="error") mdi-delete

            v-container(v-else fill-height)
              v-row(align="center" justify="center").mx-0
                v-btn(@click="$refs.fileInput.click()") Upload image
                input(
                  ref="fileInput"
                  type="file"
                  accept="image/*"
                  @input="addImage"
                ).d-none
</template>

<script>
import consola from 'consola'
import _ from 'lodash'
import { mapState, mapMutations, mapActions } from 'vuex'
import appMixin from '@/mixins'

export default {
  layout: 'admin',
  mixins: [appMixin],
  data() {
    return {
      isUpdate: false,
      locProduct: {
        translations: [],
        category: null,
        pricing: 0,
        imageUrl: '',
        active: false,
        updatedAt: null
      }
    }
  },
  computed: {
    ...mapState({
      product: (state) => state.products.product,
      categories: (state) => state.categories.categories
    })
  },
  async asyncData({ store }) {
    try {
      await store.dispatch('categories/getAllCategories')
    } catch (err) {
      consola.error('Getting categories error', err)
    }
  },
  async mounted() {
    const { id } = this.$route.params

    if (id !== 'new') {
      await this.getProductById(id)

      this.isUpdate = true

      this.init()
    } else {
      this.init()
    }
  },
  methods: {
    init() {
      if (this.isUpdate) {
        this.locProduct = _.cloneDeep(this.product)
      } else {
        this.locProduct.translations = this.generateEmptyTranslations()
      }
    },
    generateEmptyTranslations() {
      const result = this.$i18n.locales.map((locale) => {
        return {
          title: '',
          description: '',
          slug: '',
          locale: locale.code
        }
      })

      return result
    },
    async addImage(event) {
      const file = event.target.files[0]

      const fd = new FormData()

      fd.append('name', file.name)
      fd.append('image', file)

      const { imageUrl } = await this.$axios.$post('/api/v1/upload', fd)
      this.locProduct.imageUrl = imageUrl
    },
    async removeImage() {
      try {
        await this.$axios.delete(
          `/api/v1/remove-image?imageUrl=${this.locProduct.imageUrl}`
        )

        this.locProduct.imageUrl = ''
      } catch (err) {
        consola.error('Removing image error: ', err)
      }
    },
    async update() {
      try {
        this.locProduct.updatedAt = new Date()

        this.setProduct({ key: 'product', payload: this.locProduct })

        await this.updateProduct(this.isUpdate)

        this.$router.back()
      } catch (err) {
        consola.error('Updating product error: ', err)
      }
    },
    ...mapMutations({
      setProduct: 'products/set'
    }),
    ...mapActions({
      getProductById: 'products/getProductById',
      updateProduct: 'products/updateProduct'
    })
  }
}
</script>
