<template lang="pug">
  v-container
    add-btn(to="/admin/products/new")

    delete-dialog(entityName="продукт" :deleteCb="deleteCb")

    v-row
      v-col(cols="12")

        v-list(v-if="products.length > 0")
          div(
            v-for="(product, i) in products"
            :key="i"
          )
            v-divider(v-if="i === 0")

            v-list-item
              v-list-item-avatar(size="120" tile)
                v-img(:src="product.imageUrl")
              v-list-item-content
                v-list-item-title
                  v-icon(:color="product.active ? 'success' : 'error'").mr-4 mdi-circle-medium
                  | {{ getByLocale(product.translations, 'title') }}

              v-list-item-action
                v-row
                  v-btn(icon :to="`/admin/products/${product._id}`").mr-2
                    v-icon(color="info") mdi-pencil
                  v-btn(icon @click="toggleShowDialog(product)").mr-2
                    v-icon(color="error") mdi-delete

            v-divider
</template>

<script>
import consola from 'consola'
import { mapState, mapActions } from 'vuex'
import appMixin from '@/mixins'
import AddBtn from '@/components/AddBtn'
import DeleteDialog from '@/components/DeleteDialog'

export default {
  layout: 'admin',
  components: {
    AddBtn,
    DeleteDialog
  },
  mixins: [appMixin],
  computed: {
    ...mapState({
      products: (state) => state.products.products,
      selectedForDelete: (state) => state['delete-dialog'].selectedForDelete
    })
  },
  async asyncData({ store }) {
    try {
      await store.dispatch('products/getAllProducts', { isAll: true })
    } catch (err) {
      consola.error('Getting products error', err)
    }
  },
  methods: {
    async deleteCb() {
      try {
        await this.removeProduct(this.selectedForDelete._id)
        this.toggleShowDialog(null)
      } catch (err) {
        consola.error('Deleting product error: ', err.response)
      }
    },
    ...mapActions({
      toggleShowDialog: 'delete-dialog/toggleShowDialog',
      removeProduct: 'products/removeProduct'
    })
  }
}
</script>
