<template lang="pug">
  v-btn(
    fab
    fixed
    right
    bottom
    :to="to"
    nuxt
  )
    v-icon mdi-plus
</template>

<script>
export default {
  name: 'AddBtn',
  props: {
    to: {
      type: String,
      default: ''
    }
  }
}
</script>
