<template lang="pug">
  v-dialog(v-model="showDialog" max-width="520")
    v-card.pt-4
      v-card-text(v-if="showDialog")
        h2 Вы действительно хотите удалить {{ entityName }} {{ getByLocale(selectedForDelete.translations, 'title') }}?
      v-card-actions
        v-spacer
        v-btn(text color="info" @click="toggleShowDialog(null)") Отмена
        v-btn(text color="error" @click="deleteCb") Удалить
</template>

<script>
import { mapState, mapActions } from 'vuex'
import appMixin from '@/mixins'

export default {
  name: 'DeleteDialog',
  mixins: [appMixin],
  props: {
    entityName: {
      type: String,
      default: ''
    },
    deleteCb: {
      type: Function,
      default: () => {},
      required: true
    }
  },
  computed: {
    ...mapState({
      showDialog: (state) => state['delete-dialog'].showDialog,
      selectedForDelete: (state) => state['delete-dialog'].selectedForDelete
    })
  },
  methods: {
    ...mapActions({
      toggleShowDialog: 'delete-dialog/toggleShowDialog'
    })
  }
}
</script>
