<template lang="pug">
  v-card(
    :to="localePath({ name: 'product-slug', params: { slug: getByLocale(product.translations, 'slug') } })"
  )
    v-img(:src="product.imageUrl" :aspect-ratio="16/9")
    v-card-text
      v-row(justify="space-between").px-3
        h3 {{ getByLocale(product.translations, 'title') }}
        h3 {{ product.pricing }} $
    v-card-text {{ description }}
</template>

<script>
import _ from 'lodash'
import appMixin from '@/mixins'

export default {
  name: 'ProductCard',
  mixins: [appMixin],
  props: {
    product: {
      type: Object,
      default: () => {}
    }
  },
  computed: {
    description() {
      const description = this.getByLocale(
        this.product.translations,
        'description'
      )

      return _.truncate(description)
    }
  }
}
</script>
