<template lang="pug">
  v-container
    v-row
      v-col(cols="12" lg="6")
        v-card
          v-img(
            :src="product.imageUrl"
            :aspect-ratio="16/9"
          )

      v-col(cols="12" lg="6")
        v-card
          v-card-text
            v-row(justify="space-between").px-3
              h2 {{ getByLocale(product.translations, 'title') }}
              h2 {{ product.pricing }} $
          v-card-text {{ getByLocale(product.translations, 'description') }}
</template>

<script>
import consola from 'consola'
import { mapState, mapMutations } from 'vuex'
import appMixin from '@/mixins'

export default {
  mixins: [appMixin],
  head() {
    return {
      title: this.getByLocale(this.product.translations, 'title')
    }
  },
  computed: {
    ...mapState({
      product: (state) => state.products.product
    })
  },
  async asyncData({ store, params }) {
    const { slug } = params

    try {
      await store.dispatch('products/getProductBySlug', slug)
    } catch (err) {
      consola.error('Getting data for product page error: ', err.response)
    }
  },
  mounted() {
    const subtitle = this.getByLocale(this.product.translations, 'title')
    this.setRoot({ key: 'subtitle', payload: subtitle })
  },
  methods: {
    ...mapMutations({
      setRoot: 'set'
    })
  }
}
</script>
