<template lang="pug">
  v-container
    v-row
      v-col(cols="12" lg="4")
        v-card
          v-card-text 
            h2 {{ $t('category.filterByPrice') }}

          v-card-text
            v-row
              v-col(cols="6")
                v-text-field(
                  :value="range[0]"
                )

              v-col(cols="6")
                v-text-field(
                  :value="range[1]"
                )
            v-range-slider(
              v-model="range"
              :min="min"
              :max="max"
              step="1"
            )
          v-card-actions
            v-btn(
              text
              block
              @click="getProductsByCriteria"
            ) {{ $t('category.apply') }}

      v-col(cols="12" lg="8").py-0
        v-row.pa-0
          v-col(
            v-for="product in products"
            :key="product._id"
            cols="12"
            lg="6"
          )
            product-card(:product="product")
</template>

<script>
import consola from 'consola'
import { mapState, mapMutations, mapActions } from 'vuex'
import appMixin from '@/mixins'
import ProductCard from '@/components/ProductCard'

export default {
  components: {
    ProductCard
  },
  mixins: [appMixin],
  head() {
    return {
      title: this.getByLocale(this.category.translations, 'title')
    }
  },
  data() {
    return {
      min: 0,
      max: 10000,
      range: [0, 1000]
    }
  },
  computed: {
    ...mapState({
      category: (state) => state.categories.category,
      minMaxPricing: (state) => state.products.minMaxPricing,
      products: (state) => state.products.products
    })
  },
  async asyncData({ store, params }) {
    const { slug } = params

    try {
      await store.dispatch('categories/getCategoryBySlug', slug)
      await store.dispatch('products/getMinMaxPricing', slug)
    } catch (err) {
      consola('Getting data for category page error: ', err)
    }
  },
  async mounted() {
    const subtitle = this.getByLocale(this.category.translations, 'title')
    this.setRoot({ key: 'subtitle', payload: subtitle })

    this.initPricing()

    await this.getProductsByCriteria()
  },
  methods: {
    initPricing() {
      this.range = this.minMaxPricing
      this.max = this.minMaxPricing[1]
    },
    async getProductsByCriteria() {
      try {
        await this.getAllProducts({
          categoryId: this.category._id,
          gte: this.range[0],
          lte: this.range[1]
        })
      } catch (err) {
        consola.error('Getting products on the category page error: ', err)
      }
    },
    ...mapMutations({
      setRoot: 'set'
    }),
    ...mapActions({
      getAllProducts: 'products/getAllProducts'
    })
  }
}
</script>
