<template lang="pug">
  v-container(fill-height)
    v-row(align="center" justify="center")
      v-col(cols="12" lg="4")
        v-card
          v-card-title Sign in
          v-card-text
            v-form
              v-text-field(
                label="Email"
                v-model="email"
                append-icon="mdi-email"
              )

              v-text-field(
                label="Password"
                v-model="password"
                :type="showPassword ? 'text' : 'password'"
                :append-icon="showPassword ? 'mdi-eye-off' : 'mdi-eye'"
                @click:append="togglePasswordVisibility"
              )

          v-card-actions
            v-btn(text block @click="login") Sign in
</template>

<script>
import consola from 'consola'

export default {
  layout: 'auth',
  data() {
    return {
      email: '',
      password: '',
      showPassword: false
    }
  },
  methods: {
    togglePasswordVisibility() {
      this.showPassword = !this.showPassword
    },
    async login() {
      try {
        await this.$auth.loginWith('local', {
          data: {
            email: this.email,
            password: this.password
          }
        })
      } catch (err) {
        consola.error('Sign in error: ', err)
      }
    }
  }
}
</script>
