<template lang="pug">
  v-app(dark)
    v-navigation-drawer(app v-model="drawer")
      v-list
        v-list-item
          v-list-item-avatar(color="grey darken-2")
            v-icon mdi-account
          v-list-item-content
            v-list-item-title {{ $auth.user.firstName }}

      v-divider

      v-list
        v-list-item(
          v-for="(menuItem, i) in menuList"
          :key="i"
          :to="menuItem.to"
          nuxt
          exact
        )
          v-list-item-action
            v-icon {{ menuItem.icon }}
          v-list-item-content
            v-list-item-title {{ menuItem.title }}
    
    v-app-bar(app)
      v-app-bar-nav-icon(@click.stop="drawer = !drawer")

      v-spacer

      v-btn(icon @click="$auth.logout()")
        v-icon mdi-logout

    v-content
      nuxt
</template>

<script>
export default {
  layout: 'admin',
  middleware: 'auth',
  data() {
    return {
      drawer: true,
      menuList: [
        {
          title: 'Dashboard',
          to: '/admin',
          icon: 'mdi-view-dashboard'
        },
        {
          title: 'Categories',
          to: '/admin/categories',
          icon: 'mdi-view-list'
        },
        {
          title: 'Products',
          to: '/admin/products',
          icon: 'mdi-card-text'
        },
        {
          title: 'Users',
          to: '/admin/users',
          icon: 'mdi-account-multiple'
        }
      ]
    }
  }
}
</script>
