<template lang="pug">
  v-app(dark)
    v-app-bar(fixed app)
      v-toolbar-title(v-if="subtitle.length === 0")
        nuxt-link(:to="localePath('index')").non-link {{ title }}

      v-toolbar-title(v-else)
        nuxt-link(:to="localePath('index')").non-link {{ title }} 
        | - {{ subtitle }}
      v-spacer

      v-toolbar-items
        v-menu(offset-y)
          template(v-slot:activator="{ on }")
            v-btn(v-on="on" text) {{ $i18n.locale }}
          v-list
            v-list-item(
              v-for="(locale, i) in availableLocales"
              :key="i"
              :to="switchLocalePath(locale.code)"
            )
              v-list-item-content
                v-list-item-title {{ locale.code }}

    v-content
      nuxt
</template>

<script>
import { mapState } from 'vuex'

export default {
  computed: {
    availableLocales() {
      return this.$i18n.locales.filter((locale) => {
        return locale.code !== this.$i18n.locale
      })
    },
    ...mapState({
      title: (state) => state.title,
      subtitle: (state) => state.subtitle
    })
  }
}
</script>

<style>
.non-link {
  text-decoration: none;
  color: inherit !important;
}
</style>
