<template lang="pug">
  v-container
    v-row
      v-col(cols="12")
        v-card
          v-card-text
            v-switch(
              label="Active"
              v-model="locCategory.active"
            )

            v-form
              v-tabs(grow)
                v-tab(
                  v-for="(trnaslation, i) in locCategory.translations"
                  :key="i"
                ) {{ trnaslation.locale }}

                v-tab-item(
                  v-for="(trnaslation, i) in locCategory.translations"
                  :key="i"
                ).pt-3
                  v-text-field(
                    label="Title"
                    v-model="trnaslation.title"
                  )

                  v-text-field(
                    v-if="isUpdate"
                    label="Slug"
                    :value="trnaslation.slug"
                    readonly
                  )

          v-card-actions
            v-btn(text block @click="update") {{ isUpdate ? 'Update' : 'Save' }}
</template>

<script>
import consola from 'consola'
import _ from 'lodash'
import { mapState, mapMutations, mapActions } from 'vuex'

export default {
  layout: 'admin',
  data() {
    return {
      isUpdate: false,
      locCategory: {
        translations: [],
        active: false,
        updatedAt: null
      }
    }
  },
  computed: {
    ...mapState({
      category: (state) => state.categories.category
    })
  },
  async mounted() {
    const { id } = this.$route.params

    if (id !== 'new') {
      await this.getCategoryById(id)

      this.isUpdate = true

      this.init()
    } else {
      this.init()
    }
  },
  methods: {
    init() {
      if (this.isUpdate) {
        this.locCategory = _.cloneDeep(this.category)
      } else {
        this.locCategory.translations = this.generateEmptyTranslations()
      }
    },
    generateEmptyTranslations() {
      const result = this.$i18n.locales.map((locale) => {
        return {
          title: '',
          slug: '',
          locale: locale.code
        }
      })

      return result
    },
    async update() {
      try {
        this.locCategory.updatedAt = new Date()

        this.setCategory({ key: 'category', payload: this.locCategory })

        await this.updateCategory(this.isUpdate)

        this.$router.back()
      } catch (err) {
        consola.error('Updating category error: ', err)
      }
    },
    ...mapMutations({
      setCategory: 'categories/set'
    }),
    ...mapActions({
      getCategoryById: 'categories/getCategoryById',
      updateCategory: 'categories/updateCategory'
    })
  }
}
</script>
