<template lang="pug">
  v-container
    add-btn(to="/admin/categories/new")

    delete-dialog(entityName="категорию" :deleteCb="deleteCb")

    v-row
      v-col(cols="12")

        v-list(v-if="categories.length > 0")
          div(
            v-for="(category, i) in categories"
            :key="i"
          )
            v-divider(v-if="i === 0")

            v-list-item
              v-list-item-action
                v-icon(:color="category.active ? 'success' : 'error'") mdi-circle-medium

              v-list-item-content
                v-list-item-title {{ getByLocale(category.translations, 'title') }}

              v-list-item-action
                v-row
                  v-btn(icon :to="`/admin/categories/${category._id}`").mr-2
                    v-icon(color="info") mdi-pencil
                  v-btn(icon).mr-2
                    v-icon(color="error" @click="toggleShowDialog(category)") mdi-delete
            
            v-divider
</template>

<script>
import consola from 'consola'
import { mapState, mapActions } from 'vuex'
import appMixin from '@/mixins'
import AddBtn from '@/components/AddBtn'
import DeleteDialog from '@/components/DeleteDialog'

export default {
  layout: 'admin',
  components: {
    AddBtn,
    DeleteDialog
  },
  mixins: [appMixin],
  computed: {
    ...mapState({
      categories: (state) => state.categories.categories,
      selectedForDelete: (state) => state['delete-dialog'].selectedForDelete
    })
  },
  async asyncData({ store }) {
    try {
      await store.dispatch('categories/getAllCategories', { isAll: true })
    } catch (err) {
      consola.error('Getting categories error: ', err)
    }
  },
  methods: {
    async deleteCb() {
      try {
        await this.removeCategory(this.selectedForDelete._id)
        this.toggleShowDialog(null)
      } catch (err) {
        consola.error('Deleting category error: ', err)
      }
    },
    ...mapActions({
      toggleShowDialog: 'delete-dialog/toggleShowDialog',
      removeCategory: 'categories/removeCategory'
    })
  }
}
</script>
