<template lang="pug">
  v-container
    v-row
      v-col(cols="12")
        h2 {{ $t('main.categories') }}
        v-divider.mt-3

      v-col(
        v-for="category in categories"
        :key="category._id"
        cols="12"
        lg="4"
      )
        v-card(:to="localePath({ name: 'category-slug', params: { slug: getByLocale(category.translations, 'slug') } })").text-center
          v-responsive(aspect-ratio="3")
            v-container(fill-height)
              v-row(align="center" justify="center").mx-0
                v-card-text {{ getByLocale(category.translations, 'title') }}

      v-col(cols="12").mt-5
        h2 {{ $t('main.products') }}
        v-divider.mt-3

      v-col(
        v-for="product in products"
        :key="product._id"
        cols="12"
        lg="4"
      )
        product-card(:product="product")
</template>

<script>
import consola from 'consola'
import { mapState, mapMutations } from 'vuex'
import appMixin from '@/mixins'
import ProductCard from '@/components/ProductCard'

export default {
  components: {
    ProductCard
  },
  mixins: [appMixin],
  computed: {
    ...mapState({
      categories: (state) => state.categories.categories,
      products: (state) => state.products.products
    })
  },
  async asyncData({ store }) {
    try {
      await store.dispatch('categories/getAllCategories')
      await store.dispatch('products/getAllProducts')
    } catch (err) {
      consola.error('Getting data for front page error: ', err)
    }
  },
  mounted() {
    this.setRoot({ key: 'subtitle', payload: '' })
  },
  methods: {
    ...mapMutations({
      setRoot: 'set'
    })
  }
}
</script>
