<template lang="pug">
  v-container
    v-row
      v-col(cols="12")
        v-card
          v-card-text
            v-text-field(
              label="First name"
              v-model="locUser.firstName"
              append-icon="mdi-account"
            )

            v-text-field(
              label="Last name"
              v-model="locUser.lastName"
              append-icon="mdi-account"
            )

            v-text-field(
              label="Email"
              v-model="locUser.email"
              append-icon="mdi-email"
            )

            v-text-field(
              label="Password"
              v-model="locUser.password"
              :type="showPassword ? 'text' : 'password'"
              :append-icon="showPassword ? 'mdi-eye-off' : 'mdi-eye'"
              @click:append="toggleShowPassword()"
            )

            v-text-field(
              label="Confirm password"
              v-model="confirmPassword"
              :type="showConfirmPassword ? 'text' : 'password'"
              :append-icon="showConfirmPassword ? 'mdi-eye-off' : 'mdi-eye'"
              @click:append="toggleShowConfirmPassword"
            )

          v-card-actions
            v-btn(text block @click="update") {{ isUpdate ? 'Update' : 'Save' }}
</template>

<script>
import consola from 'consola'
import _ from 'lodash'
import { mapState, mapMutations, mapActions } from 'vuex'

export default {
  layout: 'admin',
  data() {
    return {
      isUpdate: false,
      showPassword: false,
      showConfirmPassword: false,
      confirmPassword: '',
      locUser: {
        _id: null,
        firstName: '',
        lastName: '',
        email: '',
        password: ''
      }
    }
  },
  computed: {
    ...mapState({
      user: (state) => state.users.user
    })
  },
  async mounted() {
    const { id } = this.$route.params

    if (id !== 'new') {
      await this.getUserById(id)

      this.init()

      this.isUpdate = true
    }
  },
  methods: {
    toggleShowPassword() {
      this.showPassword = !this.showPassword
    },
    toggleShowConfirmPassword() {
      this.showConfirmPassword = !this.showConfirmPassword
    },
    init() {
      this.locUser = _.cloneDeep(this.user)

      this.locUser.password = ''
    },
    async update() {
      try {
        this.setUser({ key: 'user', payload: this.locUser })

        await this.updateUser(this.isUpdate)

        this.$router.back()
      } catch (err) {
        consola.error('Updating user error: ', err)
      }
    },
    ...mapMutations({
      setUser: 'users/set'
    }),
    ...mapActions({
      getUserById: 'users/getUserById',
      updateUser: 'users/updateUser'
    })
  }
}
</script>
