<template lang="pug">
  v-container
    add-btn(to="/admin/users/new")

    v-row
      v-col(cols="12")

        v-list
          div(
            v-for="(user, i) in users"
            :key="i"
          )
            v-divider(v-if="i === 0")

            v-list-item
              v-list-item-content
                v-list-item-title {{ user.firstName }}

              v-list-item-action
                v-row
                  v-btn(icon :to="`/admin/users/${user._id}`")
                    v-icon(color="info") mdi-pencil

            v-divider
</template>

<script>
import consola from 'consola'
import { mapState } from 'vuex'
import AddBtn from '@/components/AddBtn'

export default {
  layout: 'admin',
  components: {
    AddBtn
  },
  computed: {
    ...mapState({
      users: (state) => state.users.users
    })
  },
  async asyncData({ store }) {
    try {
      await store.dispatch('users/getAllUsers')
    } catch (err) {
      consola.error('Users page - load data error: ', err)
    }
  }
}
</script>
